body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #87CEEB; /* Sky blue background */
}
.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.menu {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}
.menu h1 {
    font-size: 3em;
    color: #E74C3C;
    text-shadow: 2px 2px 0px black;
}
.menu button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.5em;
    background-color: #2ECC71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}
.menu button:hover {
    transform: scale(1.1);
    background-color: #27AE60;
}
.instructions {
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 500px;
}
.instructions ul {
    list-style: none;
    padding: 0;
}
.instructions li {
    margin-bottom: 10px;
}
#muteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1001; 
}
#muteButton:hover {
    background-color: #f0f0f0;
}

#loading-screen {
    display: none; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

#gameCanvas {
    display: none; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


