body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.controls * {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #04AA6D;
    padding: 5px;
    border-radius: 12px;
    display: inline;
    gap: 10px;   
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.controls button {
    transition-duration: 0.4s;
}

.controls button:hover{
    background-color: #04AA6D; /* Green */
    color: white;
}

canvas {
    margin-left: 20px; 
    border: 1px solid black;
}

.instructions * {
    color: #04AA6D;
    font-family: Arial, sans-serif;
    gap: 10px;   
    margin-left: 20px;
    margin-bottom: 10px
}
